{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Оформление свадьбы</title>
    

 
    <link rel="stylesheet" href="../static/css/1.css"><!--фоновой стиль, текст и колебровка. Анимация-->
	
        <link rel="stylesheet" type="text/css" href="../static/css/2.css"> <!--плавная анимация-->
	
    <link rel="stylesheet" href="../static/css/3.css"> <!--калибровка всех элементов по центру-->
    
	

    
</head>
<body class="comp" id="id0"> 



<div class="width100 block01 parallax" id="id1"
     data-top-bottom="background-position:50% 0px;" data-bottom-top="background-position:50% -100px;"
        >
    <div class="container relative">
        <div class="title_small">
            Ваша свадьба будет самой лучшей!
        </div>
        <div class="title_big">
            Мы полностью возьмем на себя украшение
            <br>
            свадебной церемонии
        </div>
        <div class="title_pod">
            От идеи до воплощения
        </div>

    </div>

    <div class="width100 line_rose_all">
        <div class="container relative">
            <div class="float_l width50">
                <div class="float_r">
                    <div class="text_left">
                        Банкетные залы и
                        <br>
                        выездные регистрации
                    </div>
                </div>
            </div>
            <div class="heart center">
                <img src="../static/images/heart.png" class="pulse animated infinite">
            </div>
            <div class="float_l width50">
                <div class="text_right">
                    в Херсоне
                    <br>
                    и пригородах
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="arrow_bottom center">
        <a href="#id3">
            <img src="../static/images/arrow_but.png">
        </a>
    </div>
</div>


<div class="width100 block02" id="id2">
    <div class="container relative">
        <div class="zag_blue">
            Наши Услуги
        </div>
        <div class="zag_pod">
            Мы работаем со всеми элементами декора
        </div>
        <div class="img_pod">
            <img src="../static/images/img_pod.png">
        </div>
        <div class="row uslugi_w">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga1 opacity-0">
                <img class="uslugi" src="../static/images/uslugi01.png">

                <div class="zag_uslugi">
                    Украшение тканями
                </div>
                <div class="text_uslugi">
                    У нас есть множество видов нежнейших тканей любого цвета и фактуры для декорирования свадебного
                    пространства
                </div>
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga2 opacity-0">
                <img class="uslugi" src="../static/images/uslugi02.png">

                <div class="zag_uslugi">
                    Флористика
                </div>
                <div class="text_uslugi">
                    Букеты из живых цветов. Чудесные и необычные композиции с фруктами, экзотическими растениями и аксессуарами
                </div>
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga3 opacity-0">
                <img class="uslugi" src="../static/images/uslugi03.png">

                <div class="zag_uslugi">
                    Воздушные шары
                </div>
                <div class="text_uslugi">
                    Оригинальные букеты, сердца и фигуры из самых необычных шариков. Отлично сочетаются с тканями и живыми цветами
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="hearth">
    <img class="hearth_img pulse animated infinite" alt="" src="../static/images/hearth.png">

    <div class="line"></div>
</div>

<div class="width100 block04" id="id3">
    <div class="container relative">
        <div class="zag_blue">
            Мы работаем как с очень большими
            <br>
            бюджетами, так и с весьма скромными
        </div>
        <div class="zag_pod">
            Доверив нам оформление свадьбы, вы в любом случае получите:
        </div>
        <div class="img_pod">
            <img src="../static/images/img_pod.png">
        </div>
        <div class="row lowe_w">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center padding-bottom-20 love love1 opacity-0">
                <img class="love_img" src="../static/images/love01.png">

                <div class="zag_love">
                    Бесплатный Дизайн-проект
                </div>
                <div class="text_love">
                    Дизайнер приедет на место торжества и обсудит с вами все детали. Дизайн будет выполнен с учетом всех
                    ваших пожеланий.
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center padding-bottom-20 love love2 opacity-0">
                <img src="../static/images/love02.png">

                <div class="zag_love">
                    Единый стиль оформления
                </div>
                <div class="text_love">
                    Все элементы декора будут выполнены в одной стилистике. А различные цвета и фактуры будут
                    гармонично сочетаться.
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  center padding-bottom-20 love love3 opacity-0">
                <img class="love_img" src="../static/images/love03.png">

                <div class="zag_love">
                    Воплотим любые идеи
                </div>
                <div class="text_love">
                    У нас есть собственный склад и мастерская, где мы можем реализовать уникальные дизайнерские решения.
                </div>

            </div>


            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  center love_mob love love4 opacity-0">
                <img class="love_img" src="../static/images/love04.png">

                <div class="zag_love">
                    Современный дизайн
                </div>
                <div class="text_love">
                    Современный и стильный дизайн независимо от размера вашего бюджета.
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  center love_mob love love5 opacity-0">
                <img class="love_img" src="../static/images/love05.png">

                <div class="zag_love">
                    Используем живые цветы
                </div>
                <div class="text_love">
                    Только самые лучшие и свежие цветы со всех уголков мира достойны оформлять ваше торжество.
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  center love_mob love love6 opacity-0">
                <img class="love_img" src="../static/images/love06.png">

                <div class="zag_love">
                    Самые актуальные цвета
                </div>
                <div class="text_love">
                    Каждый свадебный сезон открывает новые модные цвета и ткани, которые мы сразу можем предложить вам.
                </div>

            </div>

        </div>
    </div>
</div>

<div class="hearth">
    <img class="hearth_img pulse animated infinite" alt="" src="../static/images/hearth.png">

    <div class="line"></div>
</div>

<div class="width100 block06" id="id7">
    <div class="container relative">
        <div class="zag_blue">
            Давайте познакомимся!
        </div>
        <div class="zag_pod">
            Кто мы такие, и как мы можем вам помочь
        </div>
        <div class="img_pod">
            <img src="../static/images/img_pod.png">
        </div>
        <div class="row poznakom">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
                <img class="img_znakom opacity-0" src="../static/images/9465_original.png">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                Мы отлично украшаем свадьбы. В нашем портфолио есть городские рестораны, загородные клубы,
                выездные церемонии на природе, летние и зимние мероприятия. Каждая наша работа получается уникальной,
                потому что мы вкладываем в нее весь свой талант, опыт и мастерство.
                <br /><br />
                Мы внимательно слушаем и слышим вас. Нам важно, чтобы в результате все ваши идеи были учтены. Чтобы в
                день своей свадьбы вы увидели именно то, о чем мечтали. Мы украшаем ваш праздник и получаем от этого
                настоящее удовольствие.
                А еще мы постоянно учимся: тренинги, мастер-классы, семинары – все для того, чтобы именно ваше оформление свадьбы было стильным и современным.
                <br /><br />
                Мы осознаем, насколько важным является день свадьбы для наших клиентов и понимаем, что не имеем права на
                ошибку!<br /><br />
<p align="right">С любовью, ваша дизайн-группа ДекоАрт</p>            </div>

        </div>
    </div>
</div>

	<div class="hearth">
    <img class="hearth_img pulse animated infinite" alt="" src="../static/images/hearth.png">
	<div class="line"></div>
</div>
	
<div class="video_block">
	<video autoplay loop muted class="bgvideo">
	<source src="../static/images/videorek.mp4" type="video/mp4" style="margin-top:-450px; height:997px; width:1348px;">
	</video>
	</div>
	

	
	


<div class="hearth">
    <img class="hearth_img pulse animated infinite" alt="" src="../static/images/hearth.png">

    <div class="line"></div>
</div>


<div class="width100 galery" id="id5">
    <div class="container">
        <div class="title_w">
            <div class="zag_blue">Галерея наших работ</div>
            <div class="zag_pod">Хотите, чтобы ваша свадьба выглядела так же красиво?</div>
            <div class="img_pod">
                <img src="../static/images/img_pod.png">
            </div>
			<div class="row uslugi_w">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga1 opacity-0">
                <img class="uslugi" src="../static/images/dek/1.jpg">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga2 opacity-0">
                <img class="uslugi" src="../static/images/dek/2.jpg">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga3 opacity-0">
                <img class="uslugi" src="../static/images/dek/3.jpg">
                
            </div>
        </div>
		<br /><br />
		<div class="row uslugi_w">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga1 opacity-0">
                <img class="uslugi" src="../static/images/dek/4.jpg">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga2 opacity-0">
                <img class="uslugi" src="../static/images/dek/5.jpg">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga3 opacity-0">
                <img class="uslugi" src="../static/images/dek/6.jpg">
                
            </div>
        </div>
		<br /><br />
		<div class="row uslugi_w">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga1 opacity-0">
                <img class="uslugi" src="../static/images/dek/7.jpg">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga2 opacity-0">
                <img class="uslugi" src="../static/images/dek/8.jpg">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center usliga usliga3 opacity-0">
                <img class="uslugi" src="../static/images/dek/9.jpg">
                
            </div>
        </div>
		<br /><br />
        </div>
    </div>

</div>

<div class="hearth">
    <img class="hearth_img pulse animated infinite" alt="" src="../static/images/hearth.png">

    <div class="line"></div>
</div>

<div class="width100 block08" id="id6">
    <div class="container relative">
        <div class="zag_blue">
            Наш подход к оформлению свадьбы
        </div>
        <div class="zag_pod">
            Взять на себя все обязательства и выполнить их чуточку лучше, чем вы ожидаете
        </div>
        <div class="img_pod">
            <img src="../static/images/img_pod.png">
        </div>
        <div class="row podhod_w">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center podhod1 podhod opacity-0">
                <div class="img_podhod">
                    <img src="../static/images/icons01.png">
                </div>
                <div class="zag_uslugi">Максимум из любого бюджета</div>
                <div class="text_love">У нас нет задачи «освоить бюджет». Мы ищем нестандартные решения и подключаем
                    нашу фантазию для того, чтобы вы получили максимум пользы за минимум денег.
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center podhod2 podhod opacity-0">
                <div class="img_podhod">
                    <img src="../static/images/icons02.png">
                </div>
                <div class="zag_uslugi">Оформление «под ключ»</div>
                <div class="text_love">С вас – лишь пожелания. Остальное – дизайн-проект, изготовление и монтаж мы берем на
                    себя. А вы можете сосредоточиться на других аспектах подготовки.
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center podhod3 podhod opacity-0">
                <div class="img_podhod">
                    <img src="../static/images/icons03.png">
                </div>
                <div class="zag_uslugi">Единый стиль</div>
                <div class="text_love">
                    Мы разрабатываем концепцию оформления с учетом всех деталей: стилистики свадьбы,
                    ваших образов, особенностей места проведения выездной регистрации и банкета.
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="hearth">
        <img class="hearth_img pulse animated infinite" alt="" src="../static/images/hearth.png">

        <div class="line"></div>
    </div>



<div class="width100 block08" id="id7">
    <div class="container relative ">
        <div class="zag_blue">
            Как мы работаем
        </div>
        <div class="zag_pod">
            С нами очень просто взаимодействовать
        </div>
        <div class="img_pod">
            <img src="../static/images/img_pod.png">
        </div>
        <div class="gorizont">
            <div class="gorizont_in"></div>
        </div>
        <div class="row shake_w work_w">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 center relative work1 opacity-0">

                <div class="center_work">
                    <div class="digital_work digit_w">1</div>
                </div>
                <div class="vertikal"></div>
                <img class="icons_work" src="../static/images/rabota01.png">

                <div class="title_work">
                    Заявка
                </div>
                <div class="text_work">
                    Оставьте заявку на нашем сайте, и менеджер свяжется с вами в течение 20 минут или в удобное для вас время.
                </div>
              
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 center relative bez work2 opacity-0">

                <div class="center_work">
                    <div class="digital_work digit_w">2</div>
                </div>
                <div class="vertikal"></div>
                <img class="icons_work" src="../static/images/rabota02.png">

                <div class="title_work ">
                    Встреча с дизайнером
                </div>
                <div class="text_work">
                    Обсудите с дизайнером все детали и ваши пожелания прямо на месте будущего торжества.
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 center relative bez work3 opacity-0">

                <div class="center_work">
                    <div class="digital_work digit_w">3</div>
                </div>
                <div class="vertikal"></div>
                <img class="icons_work" src="../static/images/rabota03.png">

                <div class="title_work">
                    Дизайн-проект
                </div>
                <div class="text_work">
                    Согласуйте дизайн-проект, который мы подготовим для вас бесплатно по итогам встречи с дизайнером.
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 center relative bez work4 opacity-0">

                <div class="center_work">
                    <div class="digital_work digit_w">4</div>
                </div>
                <div class="vertikal"></div>
                <img class="icons_work" src="../static/images/rabota04.png">

                <div class="title_work">
                    Реализация
                </div>
                <div class="text_work">
                    Вам ничего не нужно делать, все будет готово для самой лучшей свадьбы!
                </div>
            </div>

        </div>
    </div>
</div>

<div class="hearth">
    <img class="hearth_img pulse animated infinite" alt="" src="../static/images/hearth.png">

    <div class="line"></div>
</div>


<div class="width100 strahi pattern" id="id8">
    <div class="container relative">
        <div class="title_w">
            <div class="zag_blue">
                С какими неприятностями вы
                можете столкнуться
            </div>
            <div class="zag_pod">заказывая декор в других агентствах?</div>
            <div class="img_pod padding-bottom-40">
                <img src="../static/images/img_pod.png">
            </div>
        </div>
        <div class="row nepriyatnosti margin-top-30">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="otziv_bloq otziv_bloq1 relative font-style-normal">
                    <div class="otziv_bloq_title">
                        Ожидания не соответствуют
                        реальности
                    </div>
                    Агентства, предлагающие очень низкую цену, не в состоянии обеспечить
                    красивое оформление. Реальность в день торжества расходится с рекламной картинкой.
                    <img class="bloq_r opacity-0" alt="" src="../static/images/bloq_r.png">
                    <img class="bloq_l opacity-0" alt="" src="../static/images/bloq_l.png">
                </div>
                <div class="otziv_bloq otziv_bloq2 relative font-style-normal">
                    <div class="otziv_bloq_title">
                        Краденые или недостоверные работы в портфолио
                    </div>
                    К сожалению, на рынке есть плохие подрядчики, которые выдают чужие фотографии за свои
                    и не имеют достаточного опыта и квалификации для повторения этих работ.
                    <img class="bloq_r opacity-0" alt="" src="../static/images/bloq_r.png">
                    <img class="bloq_l opacity-0" alt="" src="../static/images/bloq_l.png">
                </div>
            </div>

            <img src="../static/images/para.png" alt=""
                 class="para col-lg-4 visible-lg opacity-0"/>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-4">
                <div class="otziv_bloq otziv_bloq3 relative font-style-normal">
                    <div class="otziv_bloq_title">
                        Работа с каким-то одним
                        элементом декора
                    </div>
                    Многие работают с чем-то одним – только с шариками или только с цветами,
                    это увеличивает расходы на оформление и делает проблематичным украшение в едином стиле.
                    <img class="bloq_r opacity-0" alt="" src="../static/images/bloq_r.png">
                    <img class="bloq_l opacity-0" alt="" src="../static/images/bloq_l.png">
                </div>
                <div class="otziv_bloq otziv_bloq4 relative font-style-normal">
                    <div class="otziv_bloq_title">
                        Отсутствие единой
                        концепции оформления
                    </div>
                    Некоторые компании занимаются мелочами, а не оформлением площадки в целом. Плохой дизайнер прячет свое
                    неумение за нагромождением «пестрых розочек» и массой лишних деталей.
                    <img class="bloq_r opacity-0" alt="" src="../static/images/bloq_r.png">
                    <img class="bloq_l opacity-0" alt="" src="../static/images/bloq_l.png">
                </div>
            </div>


        </div>
    </div>
</div>
<div class="hearth">
    <img class="hearth_img pulse animated infinite" alt="" src="../static/images/hearth.png">

    <div class="line"></div>
</div>



<div class="container" id="id9">
    <div class="title_w">
        <div class="zag_blue">Контакты</div>
        <div class="zag_pod">Наша контактная информация</div>
        <div class="img_pod">
            <img src="../static/images/img_pod.png">
        </div>
    </div>


    <div class="row kont_w">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cont_item usliga1 opacity-0">
            <img src="../static/images/con1.png" alt="" class="con_img"/>

            <div class="con_w">
                <div class="con_title">Адрес</div>
                <div class="con_text">
                    г.Херсон, ул. Перекопская, д. 45
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cont_item usliga2 opacity-0">
            <img src="../static/images/con2.png" alt="" class="con_img"/>

            <div class="con_w">
                <div class="con_title">Телефон:</div>
                <div class="con_text">
                    +38 066 77 55 984
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cont_item usliga3 opacity-0">
            <img src="../static/images/con3.png" alt="" class="con_img"/>

            <div class="con_w">
                <div class="con_title">E-mail:</div>
                <div class="con_text">
                    Fluping@mail.ru
                </div>
            </div>
        </div>

    </div>
</div>



<!--отсуцтвие всех картинок с анимацией-->
<<script type='text/javascript' src='../static/js/5.js'></script>

<script src="../static/js/6.js"></script>

<script src="../static/js/7.js"></script>
    
	
</body>
</html>